html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*====================================== General ==========================================*/

header{
    background-color: #c15355;
    color: white;
}
.head{
    max-width: 999px;
    margin: 0px auto;
    padding: 23px;
    position: sticky;
}
h4{
    float: left;
}
nav{
    float: right;
}
.head a{
    color: white;
    text-decoration: none;
    padding: 12px;
}
#header{
    text-align: center;
    color: white;
    background-color: #c15355;
    clear: both;
    padding: 78px;
}
#header>h1{
    font-size: 45px;
}
.mid{
    max-width: 800px;
    margin: auto;
    padding: 45px;
}
.mid1{
    max-width: 200px;
    display: inline-block;
    padding: 23px;
}
.mid1>h5{
    color: #c15355;
    font-weight: bold;
}
.mid1>p{
    padding: 12px 0px;
    color: gray;
}
.mid1>button{
    color: white;
    background-color: #c15355;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
}
#mid{
    text-align: center;
    margin: auto;
    background-color: #c15355;
    color: white;
    padding: 45px;
}
#mid>h3{
    font-size: 23px;
}
#mid>p{
    font-size: small;
}
#mid1{
    display: inline-block;
    border: 1px solid white;
    margin: 12px;
    padding: 23px;
}
#mid1>p{
    color: grey;
}
#mid1>img{
    margin: 23px;
    border-radius: 100%;
    background-color: white;
}
.bottom{
    text-align: center;
    color: #c15355;
    padding: 36px;
}
.bottom>h3{
    font-size: x-large;
}
.bottom>p{
    font-size: small;
}
.bottom1{
    max-width: 900px;
    margin: auto;
    padding: 15px;
}
#bottom1{
    max-width: 300px;
    display: inline-block;
    padding: 23px;
    margin: 45px;
}
#bottom1>h4{
    color: #c15355;
    padding: 12px 0px;
}
#bottom1>p{
    color: gray;
    padding: 23px 0px;
}
#bottom1>button{
    color: white;
    background-color: #c15355;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
}